@using CryptoCurrencyViewer.Models.Crypto;

@model ICollection<TickerCryptoModel>?

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/exchange-styles.css" />
    <title>Exchange Crypto</title>
</head>
<body>

    <div class="main-container">

        <div class="exchange-container">
            <!-- Поля для выбора криптовалют и их текущая стоимость в USD -->
            <div class="exchange-group">
                <div class="exchange-item">
                    <input type="text" class="exchange-input" id="cryptoFrom" placeholder="From Crypto">
                    <span class="usd-price" id="fromUsdPrice">USD Price: N/A</span>
                </div>
                <div class="switch-button-wrapper">
                    <button class="switch-button" onclick="switchCurrencies();">🔄</button>
                </div>
                <div class="exchange-item">
                    <input type="text" class="exchange-input" id="cryptoTo" placeholder="To Crypto">
                    <span class="usd-price" id="toUsdPrice">USD Price: N/A</span>
                </div>
                <div class="exchange-button-wrapper">
                    <button class="exchange-button" onclick="performExchange();">Обменять</button>
                </div>
            </div>

            <!-- Див для отображения результатов обмена -->
            <div class="exchange-result" id="exchangeResult">
                <!-- Пример строки с результатом обмена -->
                <div class="exchange-result-item">
                    <span class="from-crypto">BTC</span> ➔ <span class="to-crypto">ETH</span>
                    <span class="exchange-rate">Exchange Rate: 0.05</span>
                </div>
            </div>
        </div>

        <!-- История обменов -->
        <div class="exchange-history-container">
            <h2 class="exchange-history-title">Exchange History</h2>
            <div class="exchange-history" id="exchangeHistory">
                <!-- Пример строки с историей обмена -->
                <div class="exchange-history-item">
                    <span class="history-from-crypto">BTC</span> ➔ <span class="history-to-crypto">ETH</span>
                    <span class="history-exchange-rate">Exchange Rate: 0.05</span>
                    <span class="history-date">Date: 2023-10-16</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap DropDown with Scrollable Menu -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Список элементов
        </button>
        <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
            @foreach(var ticker in Model)
            {
                <a class="dropdown-item" href="#">@ticker.Market.Name</a>
            }
            
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Bundle JS (includes Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/exchange.js"></script>

</body>
</html>
    