/* Общие стили для контейнера кнопок */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Стили для кнопок обновить и удалить */
.action-button {
    background-color: #008CBA; /* Синий цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Скругленные углы */
}

/* Стили для кнопки обновить */
.update-button:hover {
    background-color: #005f5f; /* Темно-синий цвет при наведении */
}

/* Стили для кнопки удалить */
.delete-button {
    background-color: #f44336; /* Красный цвет */
}

    .delete-button:hover {
        background-color: #da190b; /* Темно-красный цвет при наведении */
    }

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Добавлен отступ снизу */
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Стили для радиокнопки */
input[type=radio] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
