
body {
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Градиент от светло-серого к темно-синему */
    color: #f5f5f5; /* Светлый цвет текста для контраста с темным фоном */
}

/* Подсветка текста при поиске */
.highlight {
    background-color: yellow;
    font-weight: bold;
    display: inline; /* Добавьте это, чтобы span вел себя как текст, а не как блочный элемент */
}


@keyframes flashUpdate {
    from {
        background-color: #ffff8d;
    }

    to {
        background-color: transparent;
    }
}

.updated-row-animation {
    animation: flashUpdate 1s forwards;
}



.move-animation {
    transition: transform 5s ease;
}







body {
    /* Градиент от нежно-голубого к нежно-серому */
    background: linear-gradient(to right, #dae2f8, #d6d6d6);
    color: #333; /* Умеренно темный цвет текста для хорошего контраста */
}

/* Стили для элементов таблиц, форм и других контейнеров, которые должны оставаться видимыми на фоне */
.table, .form-control, .button, .card {
    background: #ffffff; /* Белый фон для элементов внутри тела */
    color: #333; /* Согласованный цвет текста */
    font-size: 16px;
    font-weight: bold;
}

/* Ссылки и кнопки с соответствующими цветами для лучшего внешнего вида */
a, .custom-link {

    text-decoration: underline;
    cursor: pointer;
    color: #007bff; /* Стандартный bootstrap синий для ссылок */
}

    a:hover, .custom-link:hover {
        color: #0056b3; /* Темно-синий цвет для состояния при наведении */
        text-decoration: none;
    }

/* Подсветка при поиске */
.highlight {
    background-color: #ffff00; /* Ярко-желтый для выделения текста */
    color: #333; /* Снова умеренно темный цвет текста */
}

/* Стилизация кнопок для лучшего внешнего вида */
.btn-primary {
    background-color: #007bff; /* Синий фон для первичной кнопки */
    border-color: #007bff; /* Граница сопоставляется с фоном */
    color: #fff; /* Белый текст для контраста */
    font-size: 18px;
    font-weight: bold;
}

    .btn-primary:hover {
        background-color: #0069d9; /* Темно-синий при наведении */
        border-color: #0062cc; /* Соответствующий цвет границы */
    }

.btn-danger {
    background-color: #dc3545; /* Красный фон для опасной кнопки */
    border-color: #dc3545; /* Согласованный цвет границы */
    color: #fff; /* Белый текст */
    font-size: 18px;
    font-weight: bold;
}

    .btn-danger:hover {
        background-color: #c82333; /* Более темный красный при наведении */
        border-color: #bd2130; /* Соответствующий цвет границы */
    }

.btn-outline-secondary {
    background-color: slategray !important;
    color: black;
    font-size: 14px;
    font-weight: bold;
}



/* Удаление фокусного свечения для всех кнопок и устранение контура при активации */
button:focus, button:active {
    outline: none !important; /* Использование !important для переопределения всех других CSS правил */
    box-shadow: none !important; /* Также убираем тень, если она была, с использованием !important */
    border: 1px solid transparent; /* Прозрачная граница для элементов в состоянии фокуса/активации */
}

/* Улучшение визуального отклика для пользователя при активации */
button:active {
    transform: scale(0.98); /* Небольшое уменьшение размера кнопки при ее нажатии для имитации нажатия */
}
